:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --Shadow: hsl(220, 15%, 15%);
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    
    transition-duration: 0.6s;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
  }

  .container {
    display: flex;
    /* animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-in;     */
  }

  .heroDiv {
    min-height: 30rem;
    max-width: 18rem;
    background-color: white;
    padding: 1rem;
    margin: 0 1.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 5px 5px 20px 1px var(--Shadow);
    transition-duration: 1s;    
  }

  .container img {
    width: 100%;
    border-radius: 10px;
  }

  .container .description {
    margin-top: 1.5rem;
  }

  .container h1 {
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    transition-duration: 1s;
  }

  .container p {
    padding: 1rem;
    color: var(--Grayish-blue);
    transition-duration: 1.5s;
  }

  .themeButtonDiv button {
    padding: 0.95rem 0.75rem;
    margin: 0 2rem;
    font-weight: 500;
    background-color: white;
    border-radius: 5rem;
    border: 2px solid white;
    box-shadow: 1px 1px 7px var(--Shadow);
    transition-duration: 0.5s;
  }

  .themeButtonDiv button:hover {
    cursor: pointer;
    background-color: hsl(219, 45%, 33%);
    color: white;
    /* transition-duration: 0.5s; */
  }

  .attributions {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 6rem;
    position: absolute;
    bottom: 0;
    transform: translate(5.5rem, -50%);
    transition-duration: 1.5s;
  }

  .attributions a {
    color: var(--Grayish-blue);
    transition-duration: 1.5s;
  }
  @keyframes fadein {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
